<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ommadium</title>
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="dist/css/home.css">
        <link rel="icon" type="image/png" href="dist/images/favicon.png"/>
    </head>

    <body background="dist/images/img.png">

        <div class="wrapper">
            <div class="mainarea">
                <p class="heading">BUG SCAN</p>
                <br>
                <p class="details"> Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amit Lorem ipsum sor de amitLorem ipsum sor de amit.</p>
                <br>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <section>
                        <h2 class="bugimg">Upload Bug Image</h2>
                        <input type="file" class="custom-file-input" name="image" id="image" accept="image/*" required>
                        <br>
                        <label class="custom-file-label" for="image"><h2 class="blue-text">SELECT</h2></label>

                    </section>
                    <button>Submit</button>
                </form>
            </div>
        </div>

    </body>
</html>
 <!--  <form action="/" method="POST" enctype="multipart/form-data">
                    <section>
                        <h2>Upload Bug Image</h2>
                       < <input type="file" class="custom-file-input" name="image" id="image" accept="image/*" required>
                        <label class="custom-file-label" for="image"><h2 class="blue-text">SELECT</h2></label>

                    </section>
                    <button>Submit</button>
                </form>
                -->