Welcome to Farm Free!

<br/>

<br/>

Upload an image of a bug

<br/>

<br/>

<form action="/" method="POST" enctype="multipart/form-data">

    <div class="form-group">
              <label>Select image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image" accept="image/*" >
                <label class="custom-file-label" for="image">Select image...</label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>

    </form>