body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

header {
  height: 5vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header #nav-links {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
}

header h1 {
  font-size: 2.3rem;
}

header a {
  text-decoration: none;
}

.blue-text {
  color: #0000FF;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/static/images/bugs.jpg');
  height: 95vh;
  width: 100vw;
}

main > article {
  width: 40vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  margin-bottom: 0px;
}

main > article > article {
  background-color: white;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}

main > article > article section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  font-family: 'Montserrat', sans-serif;

  font-size: 1.4rem;
  text-transform: capitalize;
}

main > article p {
  width: 92%;
  font-size: 1.2rem;
}

.red-text {
  color: red;
}