@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

header {
  height: 5vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

header #nav-links {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
}
a {
  margin-left: 20px;
}

header h1 {
  font-size: 2.3rem;
}

.blue-text {
  color: #0000ff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/static/images/bugs.jpg");
  height: 95vh;
  width: 100vw;
}

main .main-block {
  z-index: 5;
  height: 75vh;
  width: 50vw;
  background-color: #ffffff;
  display: block;
  border-radius: 4%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-block > section {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  height: 10vh;
  margin-bottom: 7vh;
  font-family: "Montserrat", sans-serif;
}

.main-block p {
  width: 80%;
  font-size: 1.5rem;
}

.main-block > form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.main-block > form > section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5vh;
  font-size: 1.2rem;
}

.main-block > form > button {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  height: 7vh;
  width: 10vw;
  font-size: 1.3rem;
  font-family: "Red Hat Display";
  margin-top: -30px;
}
button:hover {
  color: white;
  background-color: black !important;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

header a {
  text-decoration: none;
}

main form > section label h2,
main button {
  cursor: pointer;
}
.bugscan {
  margin-top: -50px;
}
.description {
  margin-top: 60px;
  font-family: "Red Hat Display";
  font-size: 22px !important;
}
h2 {
  font-family: "Red Hat Display";
  margin-top: -10px;
}
